*{
    margin: 0;
    padding: 0;
}

html,body{
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

#glavni{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:#002244 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#meni{
    height:315px;
    width:180px;
    position:absolute;
    top:0;
    left:0;
    
}

#meni ul{
    list-style: none;
}

#meni ul li{
    height:105px;
    width:180px;
    text-align: center;
    line-height: 105px;
    background-color: #023b7c;
    border-bottom: 2px solid #002244;
}

#meni ul li a{
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    text-decoration: none;
    display: block;
}

#meni ul li a:hover{
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    text-decoration: underline;
    display: block;
}

#page{
    position: fixed;
    height:100%;
    width: 800px;
    background-color: #023b7c;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3), 10px 0 15px rgba(0, 0, 0, 0.3);
}

#hyundai{
    min-height: 30px;
    min-width: 100px;
    font-size: 50px;
    margin:20px auto 0;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
}

#naslov{
    min-height: 30px;
    width: 600px;
    font-size: 40px;
    margin:30px auto 0;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
}

#logo {
    height: 125px;
    width: 200px;
    margin: 30px auto 0;
    position: relative;
    
}

#logo canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: block;
    
}

#avto{
    height:250px;
    width: 600px;
    margin: 50px auto 0;

}

#tucson-naslov{
    min-height: 30px;
    width: 600px;
    font-size: 30px;
    margin:50px auto 0;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
}

#text{
    min-height: 30px;
    width: 600px;
    font-size: 18px;
    margin:20px auto 0;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(230, 230, 230);
}

#rights{
    min-height: 30px;
    width: 200px;
    font-size: 10px;
    margin:50px auto 0;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(156, 156, 156);
}